<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
  <title>@ViewBag.Title - Nemerle programming language official site</title>
  <script type="text/javascript" src="/Static/Scripts/jQuery/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="/Static/Scripts/jQuery/Plugins/Prettify/jquery.prettify.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $.prettify({
        'themesUrl': 'Static/Scripts/jQuery/Plugins/Prettify/Themes/',
        'additionalLanguages': ['n'],
        'alternateLines': false
      });
      $(".underconstruction a").click(function () {
        alert("New site is still under development. You will be redirected to the old location of requested content...");
        document.location = $(this).val();
      });
    });
    </script>
    <link type="text/css" rel="stylesheet" href="/Static/Styles/style.css" />
    @RenderSection("Head", required: false)
</head>
<body>
    <form id="form1" runat="server">
        <table border="0" cellpadding="0" cellspacing="0">
            <tr class="header">
                <td>
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="100px"></td>
                            <td>
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td width="110px"></td>
                                        <td width="170px">
                                            <a href="./"><img src="/Static/Images/logo.png"></img></a>
                                        </td>
                                        <td width="31px">
                                            <a href="./"><img src="/Static/Images/ribbon.png"></img></a>
                                        </td>
                                        <td align="right" valign="bottom">
                                            <table border="0" cellpadding="0" cellspacing="0" class="menubar">
                                                <tr height="36">
                                                    <td class="menuitem">
                                                        <a href="/About"><img src="/Static/Images/menuitem-about-active-foreground.png"></img></a>
                                                    </td>
                                                    <td class="menuitem underconstruction">
                                                        <a href="http://nemerle.org/wiki/index.php?title=Main_Page"><img src="/Static/Images/menuitem-wiki-inactive-foreground.png"></img></a>
                                                    </td>
                                                    <td class="menuitem underconstruction">
                                                        <a href="http://groups.google.com/group/nemerle-en"><img src="/Static/Images/menuitem-forum-inactive-foreground.png"></img></a>
                                                    </td>
                                                    <td class="menuitem">
                                                        <a href="/Downloads"><img src="/Static/Images/menuitem-downloads-inactive-foreground.png"></img></a>
                                                    </td>
                                                    <td>
                                                        <a href=""><img src="/Static/Images/menuitem-search-inactive-foreground.png"></img></a>
                                                    </td>
                                                </tr>
                                                <tr height="8">
                                                    <td colspan="4"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="100px">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="body">
                <td>
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="100px">
                                &nbsp;
                            </td>
                            <td class="content">
                                <div>
                                    @RenderBody()
                                </div>
                        </td>
                        <td width="100px">
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
            <tr class="footer">
                <td>
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td colspan="2">
                                &nbsp;&nbsp;© 2011 <a href="http://code.google.com/p/nemerle/people/list">Nemerle Project Team</a>&nbsp;&nbsp;This site is hosted and maintained by <a href="http://rsdn.ru">Russian Software Development Network</a> team
                            </td>
                            <td width="100px" align="right">
                                <a href="http://www.opensource.org/licenses/bsd-license.php">Legal&nbsp;statements</a>&nbsp;&nbsp;
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="shadow">
                <td>
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="100px"></td>
                            <td class="shadow">
                                <img src="/Static/Images/shadow-foreground.png"></img>
                            </td>
                            <td width="100px"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>