@model BuildHistoryViewModel
@{
  ViewBag.Title = "Build archive";
}
<h2>Build history for v@(Model.Major).@(Model.Minor)</h2>
@foreach (var versionGroup in Model.Artifacts.GroupBy(_ => _.Version).OrderByDescending(_ => _.Key))
{
  @Html.Partial("BuildVersion", versionGroup);
  @Html.Partial("BuildArtifactTable", versionGroup);
}
