@model DownloadsViewModel
@{
  ViewBag.Title = "Downloads";
  var versionGroups = Model.Artifacts.GroupBy(_ => _.Version).OrderByDescending(_ => _.Key).ToArray();
}
<h2>Downloads</h2>
@if (versionGroups.Length > 0)
{
  foreach (var versionGroup in versionGroups)
  {
    @Html.Partial("BuildVersion", versionGroup);
    @Html.Partial("BuildArtifactTable", versionGroup);
    @Html.ActionLink("[History]", "BuildHistory", "Home", new { major = versionGroup.Key.Major, minor = versionGroup.Key.Minor }, new { })
  }
}
else
{
  <span>No downloads currently available.</span>
}
