@model DownloadsViewModel
@{
    ViewBag.Title = "Downloads";
}
@if (Model.RecommendedBuilds.Any())
{
  <h2>Recommended downloads</h2>
  foreach (var group in Model.RecommendedBuilds.GroupBy(b => Tuple.Create(b.Version.Major, b.Version.Minor)))
  {
    <h3>@FormatVersion(group.Key)</h3>
    <ul>
    @foreach (var b in group.OrderByDescending(b => b.Version).ThenBy(b => b.Title).ThenBy(b => b.Platform))
    {
      <li>@b.Name</li>
    }
    </ul>
  }
}
@if (Model.NightlyBuilds.Any())
{
  <h2>Nightly builds</h2>
  foreach (var group in Model.NightlyBuilds.GroupBy(b => Tuple.Create(b.Version.Major, b.Version.Minor)))
  {
    <h3>@FormatVersion(group.Key)</h3>
    <ul>
    @foreach (var b in group.OrderByDescending(b => b.Version).ThenBy(b => b.Title).ThenBy(b => b.Platform))
    {
      <li>@b.Name</li>
    }
    </ul>
  }
}
@helper FormatVersion(Tuple<int, int> version)
{
  <text>v@(version.Item1).@(version.Item2)</text>
}