@model DownloadsViewModel
@{
  ViewBag.Title = "Downloads";
}
<h2>Downloads</h2>
@foreach (var versionGroup in Model.Artifacts.GroupBy(_ => _.Version).OrderByDescending(_ => _.Key))
{
  <h3>v@(versionGroup.Key)</h3>
  @Html.Partial("BuildArtifactTable", versionGroup);
  @Html.ActionLink("[History]", "BuildHistory", "Home", new { major = versionGroup.Key.Major, minor = versionGroup.Key.Minor }, new { })
}
